.App {
  text-align: center;
}

.App input[type="text"] {
  padding: 10px;
  border: 2px solid grey;
  width: 100%;
  max-width: 800px;
  margin: 10px;
  border-radius: 15px;
}

.App button {
  padding: 10px 20px;
  border-width: 0px;
  border-radius: 15px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}
